<a href="https://colab.research.google.com/github/gabrielsoares40940/Manipulacao-de-Dados-com-Pandas/blob/main/manipulacaoDeDadosComPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_excel(r'/content/drive/MyDrive/Colab Notebooks/Tópicos/Vendas.xlsx')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df

In [ ]:
faturamento = df[['ID Loja', 'Valor Final']].groupby('ID Loja').sum()
print(faturamento)

# Colocar em ordem de maior venda
# Quantidade de produtos por loja  
# Calcular a média de vendas de cada loja (dos produtos)

In [ ]:
# Colocar em ordem de maior venda

# Produto mais vendido por loja
venda = df[['ID Loja', 'Produto', 'Valor Final']].groupby(['ID Loja', 'Produto']).sum().sort_values('Valor Final', ascending = False)
print(venda)

# Loja que vendeu mais
venda2 = df[['ID Loja', 'Valor Final']].groupby(['ID Loja']).sum().sort_values('Valor Final', ascending = False)
print(venda2)

In [ ]:
# Quantidade de produtos por loja
lojas = df[['ID Loja', 'Produto', 'Quantidade']].groupby(['ID Loja', 'Produto']).sum()
lojas

                                      Quantidade
ID Loja             Produto
Bourbon Shopping SP Bermuda                 69.0
                    Bermuda Estampa         71.0
                    Bermuda Linho           61.0
                    Bermuda Liso            62.0
                    Bermuda Listrado        75.0
...                                          ...
Shopping Vila Velha Tênis Estampa           66.0
                    Tênis Linho             86.0
                    Tênis Liso              65.0
                    Tênis Listrado          53.0
                    Tênis Xadrez            86.0

[3000 rows x 1 columns]

In [ ]:
# Calcular a média de vendas de cada loja

# Calcular a soma das quantidades de todos os produtos e dividir pela quantidade de produtos (para cada loja) 
# media = list(df[['ID Loja', 'Produto', 'Valor Final']].groupby(['Valor Final', 'Produto']))

#Média de vendas de cada loja (Valor Unitário)
media = df[['Valor Unitário', 'ID Loja']].groupby('ID Loja').agg('mean')
media

In [ ]:
# RESOLUÇÃO DA OTÍLIA

# Rankear as vendas por loja
faturamento2 = faturamento.sort_values(by = 'Valor Final', ascending = False)
faturamento2

In [ ]:
# Quantidade vendida por loja
quantidade2 = df[['ID Loja', 'Quantidade']].groupby('ID Loja').sum()
quantidade2 = quantidade2.sort_values(by = 'ID Loja', ascending = False)
quantidade2

In [ ]:
# Ticket médio dos produtos por loja
# Faturamento por loja / Quantidade vendida por loja
ticket_medio= (faturamento2['Valor Final'] / quantidade2['Quantidade']).to_frame()

# Outra forma que se pode mudar o nome da coluna:
# ticket_medio = ticket_medio.rename(columns={0: 'Ticket Médio'})
ticket_medio

In [ ]:
# Criar uma função de enviar e-mail
import smtplib 
import email.message
senha ='INSERT_PASSWORD_HERE'

In [ ]:
# Função para enviar a mensagem pelo e-mail
def enviar_email(resumo_loja, loja):
  server = smtplib.SMTP('smtp.gmail.com:587') # :587 é a porta para enviar o e-mail
  email_content = f'''
  <p>Coe Silva,</p>
  {resumo_loja.to_html()}
  <p>Tmj</p>'''

  msg = email.message.Message()
  msg['Subject'] = f'Silva Rule - Loja: {loja}'

  # Enviar mensagem DO e-mail PARA outro e-mail
  msg['From'] = 'gabrielsoares40940@gmail.com'
  msg['To'] = 'gustavogusoares14@gmail.com'
  password = senha
  msg.add_header('Content-Type', 'text/html')
  msg.set_payload(email_content)

  s = smtplib.SMTP('smtp.gmail.com:587')
  s.starttls()
  #login - acessos
  s.login(msg['From'], password)
  s.sendemail(msg['From'], [msg['To']], msg.as_string().encode('utf-8'))

email = enviar_email()

In [ ]:
'''ATIVIDADE'''

# Criar relatório por loja
loja = df['ID Loja'].unique()
loja

# Utilizando um FOR com a informação acima, listar ID Loja | Valor Final | Quantidade | Ticket Médio
# DICA: Utilizar groupby(), sum()
''' Exemplo:
ID Loja  | Valor Final | Quantidade | Ticket Médio
Iguatemi |   1699651   |    8535    |     200
'''

' Exemplo:\nID Loja  | Valor Final | Quantidade | Ticket Médio\nIguatemi |   1699651   |    8535    |     200\n'